[buildout]
# Currently used extensions:
#   extensionscripts: run scripts at buildout's startup
#		 eggtractor: automatically create develop eggs
extensions =
	buildout.extensionscripts
	buildout.eggtractor

# Source dir for buildout scripts and config files
src-directory = ${buildout:directory}/buildout

# Application directory
app-directory = ${buildout:directory}/app

# Startup scripts
extension-scripts =
	${buildout:src-directory}/macos_fix_python_if_needed.py:macos_fix_python_if_needed

# Source dir for eggtractor
tractor-src-directory = ${buildout:src-directory}

# Tells buildout to ignore system packages when
# resolving requirements
include-site-packages = false
exec-sitecustomize = false

# Use some cache for the downloads
download-cache = ${buildout:directory}/downloads

# Generate relative paths
relative-paths = true

base-parts =
	rebuild-bootstrap
	gae-sdk
	gae-tools

# Do not remove, even if empty -it's needed by eggtractor.
base-develop =
base-eggs =

# Provide default values
parts = ${buildout:base-parts}
develop = ${buildout:base-develop}
eggs = ${buildout:base-eggs}

[rebuild-bootstrap]
recipe = collective.recipe.bootstrap

[gae-sdk]
recipe = appfy.recipe.gae:sdk
url = http://googleappengine.googlecode.com/files/google_appengine_1.5.4.zip
clear-destination = true

[gae-tools]
recipe = appfy.recipe.gae:tools
sdk-directory = ${gae-sdk:destination}/google_appengine
python-paths =
	${gae-tools:sdk-directory}
	${gae-tools:sdk-directory}/lib/antlr3
	${gae-tools:sdk-directory}/lib/django_0_96
	${gae-tools:sdk-directory}/lib/fancy_urllib
	${gae-tools:sdk-directory}/lib/ipaddr
	${gae-tools:sdk-directory}/lib/protorpc
	${gae-tools:sdk-directory}/lib/webob
	${gae-tools:sdk-directory}/lib/yaml/lib
	${gae-tools:sdk-directory}/lib/simplejson
	${gae-tools:sdk-directory}/lib/graphy

