.keep-aspect-ratio.youtube {
	min-width:240px !important;
	max-width:1280px !important;
}

.keep-aspect-ratio,
.keep-aspect-ratio * {
	border:0 !important;
	padding:0 !important;
	display:block !important;
}

.keep-aspect-ratio {
	position:relative !important;
	overflow:hidden !important;
	margin:5px auto !important;
	-moz-box-shadow:0px 2px 8px #111 !important;
	-webkit-box-shadow:0px 2px 8px #111 !important;
	box-shadow:0px 2px 8px #111 !important;
}

.keep-aspect-ratio * {
	margin:0 !important;
	width:100% !important;
	-moz-box-shadow:0 !important;
	-webkit-box-shadow:0 !important;
	box-shadow:0 !important;
}

.keep-aspect-ratio *:first-child {
	z-index:-1000 !important;
}

.keep-aspect-ratio *:first-child + * {
	z-index:1 !important;
	position:absolute !important;
	top:0 !important;
	overflow:auto !important;
	min-height:100% !important;
	max-height:100% !important;
}

